# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.swp

# Compiled python files
*.pyc

# install files
WordTime.egg-info/
build/
dist/
*.app/

# Python files
.pypirc
